body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #f0f4f8;
   color: #333;
   margin: 0;
   padding: 0;
}

.header {
   padding: 1rem;
   background: linear-gradient(135deg, #3399ff, #66ccff);
   color: #ffffff;
   text-align: center;
   font-size: 1.5rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border-bottom: 2px solid #66ccff;
}

.nav {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #66ccff;
   padding: 1rem 0;
   border-bottom: 1px solid #3399ff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav a {
   margin: 0 1.5rem;
   text-decoration: none;
   color: #ffffff;
   font-size: 1.2rem;
   transition: color 0.3s ease, transform 0.3s ease;
   padding: 0.5rem 1rem;
   border-radius: 5px;
}

.nav a:hover,
.nav a.active {
   color: #ffff99;
   background-color: #3399ff;
   transform: translateY(-2px);
}

.container {
   max-width: 1200px;
   margin: 2rem auto;
   padding: 0 1rem;
}

h1, h2 {
   color: #333;
}

iframe {
   border: none;
   width: 100%;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 2rem 0;
}

.grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 確保每行顯示三個項目 */
   gap: 20px;
   list-style: none;
   padding: 0;
}

.item {
   background-color: #ffffff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   overflow: hidden;
   transition: transform 0.3s ease;
   text-align: center;
   display: flex;
   flex-direction: column; /* 垂直排列子元素 */
   padding: 10px; /* 添加內邊距 */
}

.item:hover {
   transform: translateY(-10px);
}

.imageWrapper {
   width: 100%;
   height: 150px;
   position: relative;
   overflow: hidden;
   flex-shrink: 0; /* 防止圖片被壓縮 */
   margin-bottom: 10px; /* 添加底部內邊距 */
}

.image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}

.info {
   padding: 1rem;
   flex-grow: 1; /* 填滿剩餘空間 */
}

.info a {
   color: #3399ff;
   text-decoration: none;
   font-weight: bold;
}

.info a:hover {
   text-decoration: underline;
}

h2 {
   height: 90px; /* 固定高度 */
   line-height: 1.5; /* 調整行高 */
   text-overflow: ellipsis; /* 省略號 */
}

.error {
   color: red;
   font-weight: bold;
   text-align: center;
   margin-top: 1rem;
}

.list {
   list-style: none;
   display: flex;
   justify-content: center; 
   padding: 0;
   margin: 0;
}

.list li {
   margin: 0 2rem;
}

.list a {
   text-decoration: none;
   color: #333;
   font-size: 1.2rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   transition: color 0.3s ease;
   padding: 0.5rem 1rem;
   border-radius: 5px;
}

.list a:hover,
.list a.active {
   color: #ffffff;
   background-color: #3399ff;
   text-decoration: underline; 
}

.list {
   list-style-type: none;
   padding: 0;
}

section {
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 2rem;
   margin: 2rem 0;
}

section h3 {
   color: #3399ff;
   font-size: 1.8rem;
   margin-bottom: 0.5rem;
   border-bottom: 2px solid #66ccff;
   padding-bottom: 0.5rem;
}

section p {
   font-size: 1.2rem;
   line-height: 1.6;
   margin-bottom: 1.5rem;
   color: #666;
   padding-left: 1rem;
   border-left: 4px solid #66ccff;
}
